* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1250px;
    margin: 0 auto;
    padding: 20px;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0 20px;
    display: flex;
    justify-content: center;
}

.menu li {
    margin-right: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
    color: #333333;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.menu li a:hover,
.menu li a:focus,
.menu li a:active {
    background-color: #eaeaea;
}

.news-container {
    background-color: #ffffff;
    padding: 20px 15px;
    border-radius: 4px;
    max-width: 1180px;
    width: 100%;
}
.news-container .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 5px;
    overflow-x:auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.carousel::-webkit-scrollbar{
    display: none;
}
.carousel.dragging{
    scroll-behavior: auto;
    scroll-snap-type: none;
}
.news-item {
    height: 400px;  
    scroll-snap-align: start;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(129, 129, 129);
    margin: 10px 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px grey;
    object-fit: cover;
    cursor: pointer;
}

.news-item img {
    width: 100%;
    height: 200px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.news-item h3 {
    font-size: 16px;
    margin: 0;
}

.news-item p {
    margin: 0;
    color: #555555;
}

.news-item .read-more {
    display: inline-block;
    background-color: #555555;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 10px;
}

.news-item .read-more:hover,
.news-item .read-more:focus,
.news-item .read-more:active {
    background-color: #333333;
}

.footer {
    background-color: #333333;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    margin-top: 20px;
}

.slider {
    width: 100%;
    margin-bottom: 20px;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slick-btn-own {
    position: absolute;
    z-index: 0;
    top: calc(50% - 15px);
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    transition: box-shadow 100ms linear;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-btn-own:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.slick-btn-own:active {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.slick-prev {
    left: 15px;
}

.slick-next {
    right: 15px;
}

.feedback-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 4px;
    margin-top: 20px;
}

.feedback-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.feedback-form label {
    display: block;
    margin-bottom: 10px;
}

.feedback-form input,
.feedback-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #dddddd;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.feedback-form input[type="submit"] {
    background-color: #555555;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.feedback-form input[type="submit"]:hover,
.feedback-form input[type="submit"]:focus,
.feedback-form input[type="submit"]:active {
    background-color: #333333;
}

.fa-chevron-left{
    width: 20px;
    height: 20px;
    background: #fff;
    position: absolute;
    left: 55px;
    font-size: 20px;
    z-index: 2;
    top: 50%;
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
    margin: 0 auto;
}
.fa-chevron-right{
    width: 20px;
    height: 20px;
    background: #fff;
    position: absolute;
    right: 55px;
    font-size: 20px;
    z-index: 2;
    top: 50%;
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
    margin: 0 auto;
}
.carousel.dragging{
    user-select: none;
    cursor: grab;
}

.form-section{
    padding: 3rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.form{
    background-color: #fff;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 70px;
}
.form h1{
    text-align: left;
    font-size: 40px;
    font-weight: 600;
}
.form p{
    font-size: 20px;
    margin: 10px 0;
}
.name_input{
    width: 100%;
}
.input_style{
    width: 100%;
    margin: 10px 0;
    height: 45px;
    padding-left:25px;
    border: none;
    background-color:rgb(241,244,249);
    border-radius: 10px;
    outline: none;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(132,150,181, 0.9);
}
input::placeholder{
    color: rgba(187, 195, 209, 0.9);
}
textarea::placeholder{
    color: rgba(132,150,181, 0.9);
}
.textaria{
    padding-left: 25px;
    padding-top: 10px;
}
.btn_form{
    padding: 12px 25px;
    font-size: 18px;
    background-color: rgb(34,95,191);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;

}
/*modal*/

#modal-btn{
    height: 35px;
    padding: 0 16px;
    background-color: rgb(31, 88, 243);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}
#modal-btn:hover{
    transform: translate(2px, 3px);
}
.modal-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 35%;
    border-radius: 5px;
    padding: 20px;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}
.hidden{
    display: none;
}
.title{
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    color: rgb(34, 73, 87);
    margin: 5px 0px;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
}
.subtitle{
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 10px;
    text-align: center;
    color: rgb(34, 73, 87);
    margin-bottom: 10px;
}


.main-input{
    width: 100%;
    margin: 0 auto;
}
.main-input input{
    background: rgb(34, 73, 87);
    width: 95%;
    border-radius: 10px;
    margin: 5px auto;
    height: 25px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 10px;
}
.main-input input::placeholder{
    margin-left: 10px;
}
.modal-in-btn{
    width: 100%;
    height: 45px;
    background: rgb(32, 223, 127);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 4px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(34, 73, 87);
    font-size: 24px;
    transition: all 0.1s linear 0s;
    cursor: pointer;
    margin-top: 20px;
    border: none;
    color: #fff;

}
.close-btn{
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}


@media screen and (max-width: 900px) {
    .news-container .carousel{
        grid-auto-columns: calc((100% / 3) - 9px);
    }
}
@media screen and (max-width: 600px) {
    .news-container .carousel{
        grid-auto-columns: calc((100% / 2) - 6px);
    }
}


